.container {
    border: 2px solid black;
    position : fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    padding-top    : 20px;
    padding-right  : 20px;
    padding-bottom : 300px;
    padding-left   : 20px;  
}

#bookmarks {
    border: 1px solid black;
    margin-bottom: auto;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

h1 {
    position: center;
}

#filterby {
    padding-bottom: 3px;
    text-align: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .active, .accordion:hover {
    background-color: #ccc; 
  }